# Problem 6

In this problem, you will write code to "parse" a restricted form of SQL queries. These exercises are about string processing and regular expressions. There are five (5) exercises, numbered 0-4, which are worth a total of ten (10) points.

In [1]:
from IPython.display import display

import re
import pandas as pd

# Random number generation for generating test cases:
from random import randrange, randint, choice, sample

**Background: SQL review.** Suppose you have two SQL tables, `OneTable` and `AnotherTable`, and you wish to perform an inner-join on that links a column named `ColA` in `OneTable` with `ColB` in `AnotherTable`. Recall that one simple way to do that in SQL would be:

```SQL
    SELECT * FROM OneTable, AnotherTable
        WHERE OneTable.ColA = AnotherTable.ColB
```

Or, consider the following more complex example. Suppose you have an additional table named `YetAThird` and you wish to extend the inner-join to include matches between its column, `ColC`, and a second column from `AnotherTable` named `ColB2`:

```SQL
    SELECT * FROM OneTable, AnotherTable, YetAThird
        WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2 = YetAThird.ColC
```

**Exercise 0** (2 points). Suppose you are given a string containing an SQL query in the restricted form,

```SQL
    SELECT * FROM [tbls] WHERE [conds]
```

Implement the function, **`split_simple_join(q)`**, so that it takes a query string **`q`** in the form shown above and **returns a pair of substrings** corresponding to `[tbls]` and `[conds]`.

For example, if

```python
    q == """SELECT * FROM OneTable, AnotherTable, YetAThird
              WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC"""
```

then

```python
    split_simple_join(q) == ("OneTable, AnotherTable, YetAThird",
                             "OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC")
```

**IMPORTANT NOTE!** In this problem, you only need to return the substring between `FROM` and `WHERE` and the one after `WHERE`. You will extract the table names and conditions later on, below.

You should make the following assumptions:

* The input string `q` contains exactly one such query, with no nesting of queries (e.g., no instances of `"SELECT * FROM (SELECT ...)"`). However, the query may (or may not) be a multiline string as shown in the example. (Treat newlines as whitespace.)
* Your function should ignore any leading or trailing whitespace around the SQL keywords, e.g., `SELECT`, `FROM`, and `WHERE`.
* The substring between `SELECT` and `FROM` will be any amount of whitespace, followed by an asterisk (`*`). 
* You should **not** treat the SQL keywords in a case-sensitive way; for example, you would regard `SELECT`, `select`, and `sElEct` as the same. However, do **not** change or ignore the case of the non-SQL keywords.
* The `[tbls]` substring contains only a simple list of table names and no other substrings that might be interpreted as SQL keywords.
* The `[conds]` substring contains only table and column names (e.g., `OneTable.ColA`), the equal sign, the `AND` SQL keyword, and whitespace, but no other SQL keywords or symbols.

> Assuming you are using regular expressions for this problem, recall that you can pass [`re.VERBOSE`](https://docs.python.org/3/library/re.html#re.VERBOSE) when writing a multiline regex pattern.

In [2]:
test_query = '''
SELECT * FROM OneTable, AnotherTable, YetAThird
              WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC
'''.lower()
# should not lower it because we need to return the exact query from portion sand where statements
# and it should not be case sensitive / case altered

In [3]:
test_query

'\nselect * from onetable, anothertable, yetathird\n              where onetable.cola = anothertable.colb and anothertable.colb2=yetathird.colc\n'

In [4]:
def split_simple_join(q):
    assert type(q) is str
    ###
    query_match = re.match(r"""\s*[sS][eE][lL][eE][cC][tT]\s+\*
                                \s+[fF][rR][oO][mM]\s+(.*)
                                \s+[wW][hH][eE][rR][eE]\s+(.*)
                                \s*""",
                     q,
                     re.VERBOSE)
    assert query_match is not None
    return query_match.groups()[0], query_match.groups()[1]
    ###
    
# Demo
q_demo = """SELECT * FROM OneTable, AnotherTable, YetAThird
              WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC"""
print(split_simple_join(q_demo))

('OneTable, AnotherTable, YetAThird', 'OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC')

In [5]:
# Test cell: `split_simple_join_test1`

assert split_simple_join(q_demo) == \
           ('OneTable, AnotherTable, YetAThird',
            'OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC')
print("\n(Passed!)")

(Passed!)

In [6]:
# Test cell: `split_simple_join_test2`

__SQL = {'SELECT', 'FROM', 'WHERE'} # SQL keywords

# Different character classes
__ALPHA = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_'
__ALPHA_VARS = __ALPHA + '_'
__NUM = '0123456789'
__ALPHA_NUM_VARS = __ALPHA_VARS + __NUM
__DOT = '.'
__SPACES = ' \t\n'
__EQ = '='
__ALL = __ALPHA_NUM_VARS + __DOT + __SPACES + __EQ

def flip_coin():
    from random import choice
    return choice([True, False])

def rand_str(k_min, k_max, alphabet):
    """
    Returns a random string of `k` letters chosen uniformly from
    from `alphabet` with replacement, where `k_min <= k <= k_max`
    where `k` is also chosen uniformly at random.
    """
    assert k_max >= k_min >= 0
    k = k_min + randint(0, k_max-k_min)
    return ''.join([choice(alphabet) for _ in range(k)])

def rand_spaces(k_max, k_min=0):
    assert k_max >= k_min >= 0
    return rand_str(k_min, k_max, __SPACES)

def rand_case(s):
    """Randomly changes the case of each letter in a string."""
    return ''.join([c.upper() if flip_coin() else c.lower() for c in s])

def rand_var(k_min=1, k_max=10):
    assert k_max >= k_min >= 1
    s = choice(__ALPHA_VARS)
    s += rand_str(k_min-1, k_max-1, __ALPHA_NUM_VARS)
    if s.upper() in __SQL: # Don't generate keywords -- try again
        return rand_var(k_min, k_max)
    return s

def rand_vars(k_min, k_max):
    V = set()
    dk = randint(0, k_max-k_min)
    for k in range(k_min + dk + 1):
        v = rand_var()
        V.add(v)
    return V

def rand_table(max_cols):
    table = rand_var()
    columns = rand_vars(1, max_cols)
    return (table, columns)

def rand_tables(k_min, k_max, c_max=4):
    assert k_max >= k_min >= 1
    num_tables = k_min + randint(0, k_max-k_min)
    tables = {}
    for _ in range(num_tables):
        table, columns = rand_table(c_max)
        while table in tables:
            table, columns = rand_table(v_max, c_max)
        tables = {**tables, **{table: columns}}
    return tables

def rand_field(table_name, col_names):
    return table_name + "." + choice(list(col_names))

def rand_cond(tables):
    assert type(tables) is dict
    assert len(tables) >= 2
    a, b = sample(tables.keys(), 2)
    a_col = rand_field(a, tables[a])
    b_col = rand_field(b, tables[b])
    return (a_col, b_col)

def rand_cond_set(tables, k_min, k_max):
    k = k_min + randint(0, k_max-k_min)
    conds = set()
    while len(conds) < k:
        (a, b) = rand_cond(tables)
        if ((a, b) not in conds) and ((b, a) not in conds):
            conds.add((a, b))
    return conds

def cond_set_to_substrs(conds, max_wspad=4):
    substrs = []
    for a, b in conds:
        s = "{}{}{}{}{}".format(a,
                                rand_spaces(max_wspad),
                                __EQ,
                                rand_spaces(max_wspad),
                                b)
        substrs.append(s)
    return substrs

def substrs_to_str(substrings, sep=',', max_wspad=4):
    s_final = ''
    for k, s in enumerate(substrings):
        if k > 0:
            s_final += rand_spaces(max_wspad) + sep + rand_spaces(max_wspad)
        s_final += s
    return s_final

def rand_query_ans(max_tables, max_conds, max_wspad=4):
    tables = rand_tables(2, max_tables)
    cond_set = rand_cond_set(tables, 1, 4)
    return tables, cond_set

def pad_1(max_wspad):
    return rand_spaces(max(1, max_wspad), 1)

def form_select(max_wspad=4):
    return pad_1(max_wspad) + rand_case("SELECT") + pad_1(max_wspad) + "*"

def form_from(tables, max_wspad=4):
    from_ans = substrs_to_str(list(tables.keys()), sep=',', max_wspad=max_wspad)
    return pad_1(max_wspad) + rand_case("FROM") + pad_1(max_wspad) + from_ans, from_ans

def form_where(cond_set, max_wspad=4):
    cond_substrs = cond_set_to_substrs(cond_set)
    cond_ans = substrs_to_str(cond_substrs, sep=' AND ', max_wspad=max_wspad)
    return pad_1(max_wspad) + rand_case("WHERE") + pad_1(max_wspad) + cond_ans, cond_ans

def form_query_str(tables, cond_set, max_wspad=4):
    select_clause = form_select(max_wspad)
    from_clause, from_ans = form_from(tables, max_wspad)
    where_clause, cond_ans = form_where(cond_set, max_wspad)
    query = select_clause + from_clause + where_clause
    return query, from_ans, cond_ans

def split_simple_join_battery(num_tests, max_wspad=4):
    for k in range(num_tests):
        tables, cond_set = rand_query_ans(5, 5, max_wspad)
        qstmt, from_ans, where_ans = form_query_str(tables, cond_set, max_wspad)
        print("=== Test Statement {} ===\n'''{}'''\n".format(k, qstmt))
        print("True 'FROM' clause substring: '''{}'''\n".format(from_ans))
        print("True 'WHERE' clause substring: '''{}'''\n".format(where_ans))
    
split_simple_join_battery(5, 3)

print("\n(Passed!)")

=== Test Statement 0 ===
'''
	SELEct
	*	  frOm hX

,
	y	,Ue,  ZHf14kFA		WheRe
Ue.xeZlHGvl
		=
	y.aTes28T AND

y.b3Xt=	hX.EreAJgJkU

 AND Ue.Zhi	=hX.wV5D
 AND
hX.E88
=

 y.VCcvbf8'''

True 'FROM' clause substring: '''hX

,
	y	,Ue,  ZHf14kFA'''

True 'WHERE' clause substring: '''Ue.xeZlHGvl
		=
	y.aTes28T AND

y.b3Xt=	hX.EreAJgJkU

 AND Ue.Zhi	=hX.wV5D
 AND
hX.E88
=

 y.VCcvbf8'''

=== Test Statement 1 ===
'''  SELEct *
from
_heZLwo23m,	  JsuI3iQ	, 	 mVo5 ,
 	RkWyGHoAm

,CHSfPSQ
		WHERe
JsuI3iQ.Sy		= _heZLwo23m.y	 AND 	CHSfPSQ.aGTNL7

=	 RkWyGHoAm.ouzNaIG
 AND  CHSfPSQ.KGyq1fZJ3
	 =  JsuI3iQ.ZUnz4pTmc'''

True 'FROM' clause substring: '''_heZLwo23m,	  JsuI3iQ	, 	 mVo5 ,
 	RkWyGHoAm

,CHSfPSQ'''

True 'WHERE' clause substring: '''JsuI3iQ.Sy		= _heZLwo23m.y	 AND 	CHSfPSQ.aGTNL7

=	 RkWyGHoAm.ouzNaIG
 AND  CHSfPSQ.KGyq1fZJ3
	 =  JsuI3iQ.ZUnz4pTmc'''

=== Test Statement 2 ===
'''  	SELECT

*
From		Kcwh	 ,
	c4J7yv		 ,
Q0t_ wHERe 	Kcwh.mh8V		=

c4J7yv.t2

 AND
	Kcwh.EL  =


c4J7yv.t2'''

True 'FROM' clause substring: '''Kcwh	 ,
	c4J7yv		 ,
Q0t_'''

True 'WHERE' clause substring: '''Kcwh.mh8V		=

c4J7yv.t2

 AND
	Kcwh.EL  =


c4J7yv.t2'''

=== Test Statement 3 ===
'''   sELect
 *
fRom
		Bj

	,

_Q7aIC3
WhEre Bj.sHfU_WEM	 =
	_Q7aIC3.e8fXokx3KY'''

True 'FROM' clause substring: '''Bj

	,

_Q7aIC3'''

True 'WHERE' clause substring: '''Bj.sHfU_WEM	 =
	_Q7aIC3.e8fXokx3KY'''

=== Test Statement 4 ===
'''
	 SelECt
*
FRoM
 	YNB3

,

hK9kyjGVz
, ZDsOdEaxi6	Where
ZDsOdEaxi6.JatY   =
hK9kyjGVz.mKjCr  	 AND
ZDsOdEaxi6.JatY

=

 YNB3.ltdA
 AND hK9kyjGVz.E

	 =YNB3.aak	 	 AND
ZDsOdEaxi6.AsjG=YNB3.ltdA'''

True 'FROM' clause substring: '''YNB3

,

hK9kyjGVz
, ZDsOdEaxi6'''

True 'WHERE' clause substring: '''ZDsOdEaxi6.JatY   =
hK9kyjGVz.mKjCr  	 AND
ZDsOdEaxi6.JatY

=

 YNB3.ltdA
 AND hK9kyjGVz.E

	 =YNB3.aak	 	 AND
ZDsOdEaxi6.AsjG=YNB3.ltdA'''


(Passed!)

**Variable names.** For this problem, let a valid _variable name_ be a sequence of alphanumeric characters or underscores, where the very first character _cannot_ be a number. For example,

    some_variable
    __another_VariAble
    Yet_a_3rd_var
    _A_CSE_6040_inspired_var
    
are all valid variable names, whereas the following are not.

    123var_is_bad
    0_is_not_good_either
    4goodnessSakeStopItAlready

**Exercise 1** (2 points). Implement a function, **`is_var(s)`**, that checks whether a valid variable name. That is, it should return `True` if and only if `s` is valid according to the above definition. Your function should ignore any leading or trailing spaces in `s`.

For example:

```python
    assert is_var("__another_VariAble")
    assert not is_var("0_is_not_good_either")
    assert is_var("   foo")
    assert is_var("_A_CSE_6040_inspired_var   ")
    assert not is_var("#getMe2")
    assert is_var("   Yet_a_3rd_var  ")
    assert not is_var("123var_is_bad")
    assert not is_var("  A.okay")
```

In [7]:
match = re.match(r'\s*([a-zA-Z_]\w*)\s*', '0_is_not_good_either', re.VERBOSE)
match is not None

False

In [8]:
def is_var(s):
    assert type(s) is str
    ###
    match = re.match('''^
                        \s*
                        (
                        [a-zA-Z_]
                        \w*
                        )
                        \s*
                        $''', 
                     s, 
                     re.VERBOSE)
    return match is not None
    ###

In [9]:
# Test cell, part 1: `is_var_test0`

assert is_var("__another_VariAble")
assert not is_var("0_is_not_good_either")
assert is_var("   foo")
assert is_var("_A_CSE_6040_inspired_var   ")
assert not is_var("#getMe2")
assert is_var("   Yet_a_3rd_var  ")
assert not is_var("123var_is_bad")
assert not is_var("  A.okay")

print("\n(Passed part 1 of 2.)")

(Passed part 1 of 2.)

In [10]:
# Test cell: `is_var_test2`

for v in rand_vars(20, 30):
    ans = flip_coin()
    if not ans:
        v = choice(__NUM) + v
    v = rand_spaces(3) + v + rand_spaces(3)
    your_ans = is_var(v)
    assert your_ans == ans, "is_var('{}') == {} instead of {}.".format(v, your_ans, ans)
    
print("\n(Passed part 2 of 2.)")

(Passed part 2 of 2.)

**Column variables.** A _column variable_ consists of two valid variable names separated by a single period. For example,

    A.okay
    a32X844._387b
    __C__.B3am
    
are all examples of column variables: in each case, the substrings to the left and right of the period are valid variables.

**Exercise 2** (1 point). Implement a function, **`is_col(s)`**, so that it returns `True` if and only if **`s`** is a column variable, per the definition above.

For example:

```python
    assert is_col("A.okay")
    assert is_col("a32X844._387b")
    assert is_col("__C__.B3am")
    assert not is_col("123.abc")
    assert not is_col("abc.123")
```

As with Exercise 1, your function should ignore any leading or trailing spaces.

In [11]:
s = 'A.okay'

In [12]:
split_s = s.split('.')

In [13]:
display(is_var(split_s[0]))
display(is_var(split_s[1]))

True

True

In [14]:
def is_col(s):
    ###
    col_matches = re.match("""^
                            \s*            # Leading spaces
                            (              # Start of group for var name
                            [a-zA-Z_]      # Match all letters + underscores
                            \w*            # Any word character *
                            )              # End of the group for var name
                            \.              # Separator
                            (              # Start of group for var name
                            [a-zA-Z_]      # Match all letters + underscores
                            \w*            # Any word character *
                            )              # End of the group for var name
                            \s*
                            $""", s, re.VERBOSE)
    
    return col_matches is not None
    ###

In [15]:
# Test cell: `is_col_test0`

assert is_col("A.okay")
assert is_col("a32X844._387b")
assert is_col("__C__.B3am")
assert not is_col("123.abc")
assert not is_col("abc.123")

print("\n(Passed part 1.)")

(Passed part 1.)

In [16]:
# Test cell: `is_col_test1`

def test_is_col_1():
    a = rand_var()
    assert not is_col(a), "is_col('{}') == {} instead of {}.".format(a, is_col(a), False)
    a_valid = flip_coin()
    if not a_valid:
        a = rand_str(1, 5, __NUM)
    return a, a_valid

for _ in range(20):
    a, a_valid = test_is_col_1()
    b, b_valid = test_is_col_1()
    ans = a_valid and b_valid
    
    c = "{}{}.{}{}".format(rand_spaces(3), a, b, rand_spaces(3))
    your_ans = is_col(c)
    print("==> is_col('{}') == {}".format(c, your_ans))
    assert your_ans == ans

print("\n(Passed part 2.)")

==> is_col('
nYL0I.58
 ') == False
==> is_col('

17686.yQ ') == False
==> is_col('	 hr75cDj0D.457

') == False
==> is_col('
	Qaexc5yVP.1451
') == False
==> is_col('	wL3hSnLMA.566
 	') == False
==> is_col('
27043.733') == False
==> is_col(' 4.61731
  ') == False
==> is_col('
	 r3_.AmvEsAX') == True
==> is_col('FTGVd1.67') == False
==> is_col('VzpG932YLe.JLyDyDu ') == True
==> is_col('
 ovV.5651
') == False
==> is_col('	 XBzSfqdd.OAtHQ
') == True
==> is_col('			AK3aru.hRq4kma9D
') == True
==> is_col('CE.TVsFaNH') == True
==> is_col('1508.604
	') == False
==> is_col('UR.nsW36') == True
==> is_col('9814.QzJDHyajtN  ') == False
==> is_col('  1.zOTNAyt
') == False
==> is_col(' 9557.64050	 	') == False
==> is_col('  	9.gY
') == False

(Passed part 2.)

**Equality strings.** An _equality string_ is a string of the form,

    A.x = B.y

where `A.x` and `B.y` are _column variable_ names and `=` is an equals sign. There may be any amount of whitespace---including none---before or after each variable and the equals sign.

**Exercise 3** (2 points). Implement the function, **`extract_eqcols(s)`**, below. Given an input string **`s`**, if it is an equality string, your function should return a pair `(u, v)`, where `u` and `v` are the two column variables in the equality string. For example:

```python
    assert extract_eqcols("F3b._xyz =AB0_.def") == ("F3b._xyz", "AB0_.def")
```

If `s` is not a valid equality string, then your function should return `None`.

In [17]:
def extract_eqcols(s):
    ###
    eqcols_pattern = re.match("""
                            \s*([a-zA-Z_]\w*\.[a-zA-Z_]\w*)
                            \s*\=
                            \s*([a-zA-Z_]\w*\.[a-zA-Z_]\w*)
                            """, s, re.VERBOSE)
    
    if eqcols_pattern is None:
        return None
    else:
        return eqcols_pattern.groups()
    ###
    
print(extract_eqcols("F3b._xyz =AB0_.def"))

('F3b._xyz', 'AB0_.def')

In [18]:
# Test cell: `extract_eqcols0`

assert extract_eqcols("F3b._xyz =AB0_.def") == ("F3b._xyz", "AB0_.def")
assert extract_eqcols("0F3b._xyz =AB0_.def") is None

print("\n(Passed part 1 of 2.)")

(Passed part 1 of 2.)

In [19]:
# Test cell: `extract_eqcols1`

for _ in range(5):
    _, cond_set = rand_query_ans(2, 10, 5)
    for a, b in cond_set:
        s = a + rand_spaces(3) + __EQ + rand_spaces(3) + b
        print("==> Processing:\n'''{}'''\n".format(s))
        ans = extract_eqcols(s)
        print("    *** Found: {} ***".format(ans))
        assert ans is not None, "Did not detect an equality string where there was one!"
        assert ans[0] == a and ans[1] == b, "Returned {} instead of ({}, {})".format(ans, a, b)

print("\n(Passed part 2 of 2.)")

==> Processing:
'''H.pmlKFHaL 	=Z2eTIQRp.tNBBvxxju'''

    *** Found: ('H.pmlKFHaL', 'Z2eTIQRp.tNBBvxxju') ***
==> Processing:
'''H.pG_bh
 =Z2eTIQRp.lzLZZnHB'''

    *** Found: ('H.pG_bh', 'Z2eTIQRp.lzLZZnHB') ***
==> Processing:
'''H.pmlKFHaL=Z2eTIQRp.jGW9kj'''

    *** Found: ('H.pmlKFHaL', 'Z2eTIQRp.jGW9kj') ***
==> Processing:
'''Z2eTIQRp.LIv
 =H.MxlVZZ'''

    *** Found: ('Z2eTIQRp.LIv', 'H.MxlVZZ') ***
==> Processing:
'''Kwj10.v5ThW  =
	 JW_q1.OHedlmrRwm'''

    *** Found: ('Kwj10.v5ThW', 'JW_q1.OHedlmrRwm') ***
==> Processing:
'''Kwj10.G

=	JW_q1.cAF524'''

    *** Found: ('Kwj10.G', 'JW_q1.cAF524') ***
==> Processing:
'''JW_q1.HlRNmOI= Kwj10.tVh'''

    *** Found: ('JW_q1.HlRNmOI', 'Kwj10.tVh') ***
==> Processing:
'''Kwj10.tVh
  =  JW_q1.cAF524'''

    *** Found: ('Kwj10.tVh', 'JW_q1.cAF524') ***
==> Processing:
'''EqstLwk9.LLc5N578V
=
n3sWkcum._8dL'''

    *** Found: ('EqstLwk9.LLc5N578V', 'n3sWkcum._8dL') ***
==> Processing:
'''EqstLwk9.qQi 	=
n3sWkcum.skFPzSCM8'''

    *** Found: ('EqstLwk9.qQi', 'n3sWkcum.skFPzSCM8') ***
==> Processing:
'''NtKfHkpd.d_0I
=

irjo.pO'''

    *** Found: ('NtKfHkpd.d_0I', 'irjo.pO') ***
==> Processing:
'''irjo.AGZu
 = 	NtKfHkpd.A47DDtFtn'''

    *** Found: ('irjo.AGZu', 'NtKfHkpd.A47DDtFtn') ***
==> Processing:
'''irjo.e6Bl=

	NtKfHkpd.A47DDtFtn'''

    *** Found: ('irjo.e6Bl', 'NtKfHkpd.A47DDtFtn') ***
==> Processing:
'''z532p.qZ4EPTloB  	=

_559vc.paGP38AS'''

    *** Found: ('z532p.qZ4EPTloB', '_559vc.paGP38AS') ***
==> Processing:
'''_559vc.Hy= z532p.qZ4EPTloB'''

    *** Found: ('_559vc.Hy', 'z532p.qZ4EPTloB') ***
==> Processing:
'''z532p.eDQ1IM	 =_559vc.paGP38AS'''

    *** Found: ('z532p.eDQ1IM', '_559vc.paGP38AS') ***

(Passed part 2 of 2.)

**Exercise 4** (2 points). Given an SQL query in the restricted form described above, write a function that extracts all of the join conditions from the `WHERE` clause. Name this fuction, **`extract_join_conds(q)`**, where `q` is the query string. It should return a list of pairs, where each pair `(a, b)` is the name of the left- and right-hand sides in one of these conditions.

For example, suppose:

```python
    q == """SELECT * FROM OneTable, AnotherTable, YetAThird
              WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC"""
```

Notice that the `WHERE` clause contains two conditions: `OneTable.ColA = AnotherTable.ColB` and `AnotherTable.ColB2=YetAThird.ColC`. Therefore, your function should return a list of two pairs,
as follows:

```python
    extract_join_conds(q) == [("OneTable.ColA", "AnotherTable.ColB"),
                              ("AnotherTable.ColB2", "YetAThird.ColC")]
```

In [95]:
def extract_join_conds(q:str) -> list:
    ###
    # Get the WHERE clause from the query
    _, where = split_simple_join(q)
    
    # Using the WHERE clause, split on the AND
    and_pattern = re.split("\s+[Aa][Nn][Dd]\s+", where)
    
    pairs = []
    for pattern in and_pattern:
        pairs.append(extract_eqcols(pattern))
#         left_l.append(left_right[0])
#         right_l.append(left_right[0])

    return pairs
    ###
    
print("==> Query:\n\t'{}'\n".format(q_demo))
print("==> Results:\n{}".format(extract_join_conds(q_demo)))

==> Query:
	'SELECT * FROM OneTable, AnotherTable, YetAThird
              WHERE OneTable.ColA = AnotherTable.ColB AND AnotherTable.ColB2=YetAThird.ColC'

==> Results:
[('OneTable.ColA', 'AnotherTable.ColB'), ('AnotherTable.ColB2', 'YetAThird.ColC')]

In [96]:
# Test cell: `extract_join_conds_test`

def test_extract_join_conds_1():
    tables, cond_set = rand_query_ans(5, 5, 0)
    qstmt, _, _ = form_query_str(tables, cond_set, 0)
    qstmt = re.sub("[\n\t]", " ", qstmt)
    print("=== {} ===\n".format(qstmt))
    print("  True solution: {}\n".format(cond_set))
    your_conds = extract_join_conds(qstmt)
    print("  Your solution: {}\n".format(your_conds))
    assert set(your_conds) == cond_set, "*** Mismatch? ***"
    
for _ in range(10):
    test_extract_join_conds_1()
    
print("\n(Passed!)")

===  sELecT * frOm rRYd3rvtC,rE03YvzP_d,El_iJ wHEre rRYd3rvtC.qqB    =  El_iJ.uPGnpLr_v ===

  True solution: {('rRYd3rvtC.qqB', 'El_iJ.uPGnpLr_v')}

  Your solution: [('rRYd3rvtC.qqB', 'El_iJ.uPGnpLr_v')]

===  SELect * frOM IzCGoho,cuAejcF,quFZc wheRE IzCGoho.k   =    quFZc.x AND quFZc.Z7NdQxLy   =IzCGoho.D8X AND cuAejcF.M=    quFZc.Z7NdQxLy ===

  True solution: {('IzCGoho.k', 'quFZc.x'), ('quFZc.Z7NdQxLy', 'IzCGoho.D8X'), ('cuAejcF.M', 'quFZc.Z7NdQxLy')}

  Your solution: [('IzCGoho.k', 'quFZc.x'), ('quFZc.Z7NdQxLy', 'IzCGoho.D8X'), ('cuAejcF.M', 'quFZc.Z7NdQxLy')]

===  SeLecT * FRoM vnmBBrVQ_,QDEZE,eT,z2ujfO_2B WHeRe z2ujfO_2B.fY_6S=eT.b2b AND eT.rB_Z=    QDEZE.U_ge3w7FZI ===

  True solution: {('z2ujfO_2B.fY_6S', 'eT.b2b'), ('eT.rB_Z', 'QDEZE.U_ge3w7FZI')}

  Your solution: [('z2ujfO_2B.fY_6S', 'eT.b2b'), ('eT.rB_Z', 'QDEZE.U_ge3w7FZI')]

===  SeleCt * fRom CCS,sXJup0y,BW2UZAr,k2YtJ WHerE k2YtJ.q    = CCS.vZxAZch AND sXJup0y.B    = CCS.vZxAZch AND k2YtJ.mckX8txb  =sXJup0y.AmvUI6 ===

  True solution: {('k2YtJ.q', 'CCS.vZxAZch'), ('sXJup0y.B', 'CCS.vZxAZch'), ('k2YtJ.mckX8txb', 'sXJup0y.AmvUI6')}

  Your solution: [('k2YtJ.q', 'CCS.vZxAZch'), ('sXJup0y.B', 'CCS.vZxAZch'), ('k2YtJ.mckX8txb', 'sXJup0y.AmvUI6')]

===  selECT * FROM Z,rx2S0n,r6xV8M1T,_SyX4Zah WHerE Z.WVY  =   _SyX4Zah.Uij6 AND rx2S0n.p =   r6xV8M1T.Lc8Ds42_q ===

  True solution: {('Z.WVY', '_SyX4Zah.Uij6'), ('rx2S0n.p', 'r6xV8M1T.Lc8Ds42_q')}

  Your solution: [('Z.WVY', '_SyX4Zah.Uij6'), ('rx2S0n.p', 'r6xV8M1T.Lc8Ds42_q')]

===  seLeCT * FrOm _EV1X1r,cqW,Nrbe03Rh4 WHeRe _EV1X1r.Nn5K  =   Nrbe03Rh4.laf1gvlok AND cqW.l1BMN= Nrbe03Rh4.gBNUv AND Nrbe03Rh4.laf1gvlok   =    cqW.BP ===

  True solution: {('_EV1X1r.Nn5K', 'Nrbe03Rh4.laf1gvlok'), ('cqW.l1BMN', 'Nrbe03Rh4.gBNUv'), ('Nrbe03Rh4.laf1gvlok', 'cqW.BP')}

  Your solution: [('_EV1X1r.Nn5K', 'Nrbe03Rh4.laf1gvlok'), ('cqW.l1BMN', 'Nrbe03Rh4.gBNUv'), ('Nrbe03Rh4.laf1gvlok', 'cqW.BP')]

===  sELeCt * FROM L86IFd,FBhQ7lHFW,FF3i5M wHEre L86IFd.a0lpIv=FF3i5M.s2 AND L86IFd.vV    = FBhQ7lHFW.w37DAKJrs_ AND L86IFd.T =   FF3i5M.s2 ===

  True solution: {('L86IFd.a0lpIv', 'FF3i5M.s2'), ('L86IFd.vV', 'FBhQ7lHFW.w37DAKJrs_'), ('L86IFd.T', 'FF3i5M.s2')}

  Your solution: [('L86IFd.a0lpIv', 'FF3i5M.s2'), ('L86IFd.vV', 'FBhQ7lHFW.w37DAKJrs_'), ('L86IFd.T', 'FF3i5M.s2')]

===  SEleCT * FROM mq,j38YKU,x,V,tuEV8JgaF WHERe j38YKU.etdlS   = V.r8I8qOHP AND j38YKU.Lo3aoTOvsF  = V.r8I8qOHP AND j38YKU.Lo3aoTOvsF=   V.oLsTIUGK ===

  True solution: {('j38YKU.etdlS', 'V.r8I8qOHP'), ('j38YKU.Lo3aoTOvsF', 'V.r8I8qOHP'), ('j38YKU.Lo3aoTOvsF', 'V.oLsTIUGK')}

  Your solution: [('j38YKU.etdlS', 'V.r8I8qOHP'), ('j38YKU.Lo3aoTOvsF', 'V.r8I8qOHP'), ('j38YKU.Lo3aoTOvsF', 'V.oLsTIUGK')]

===  Select * FRoM Mngz4UnSme,Mh9,OMH_wXAuF,r8PZXw7uv9 WHerE OMH_wXAuF.yEvJ3K    =    Mh9.pLDCZc8 AND Mh9._vMn=    r8PZXw7uv9.JQOrmNZ AND OMH_wXAuF.P7Q=Mh9.e4puK AND OMH_wXAuF.P7Q   =r8PZXw7uv9.fHP4pr2gf ===

  True solution: {('OMH_wXAuF.yEvJ3K', 'Mh9.pLDCZc8'), ('Mh9._vMn', 'r8PZXw7uv9.JQOrmNZ'), ('OMH_wXAuF.P7Q', 'Mh9.e4puK'), ('OMH_wXAuF.P7Q', 'r8PZXw7uv9.fHP4pr2gf')}

  Your solution: [('OMH_wXAuF.yEvJ3K', 'Mh9.pLDCZc8'), ('Mh9._vMn', 'r8PZXw7uv9.JQOrmNZ'), ('OMH_wXAuF.P7Q', 'Mh9.e4puK'), ('OMH_wXAuF.P7Q', 'r8PZXw7uv9.fHP4pr2gf')]

===  SELeCT * FrOM E2Z,Lnu WHeRe E2Z.FlFwHAU=  Lnu.s9 AND E2Z.FlFwHAU= Lnu.otrz ===

  True solution: {('E2Z.FlFwHAU', 'Lnu.s9'), ('E2Z.FlFwHAU', 'Lnu.otrz')}

  Your solution: [('E2Z.FlFwHAU', 'Lnu.s9'), ('E2Z.FlFwHAU', 'Lnu.otrz')]


(Passed!)

**Fin!** This marks the end of this problem. Don't forget to submit it to get credit.